.invalid {
    background-color: #fff6a9;
}
/* removes deafult dropdown option on click */
#month:focus option:first-of-type, #year:focus option:first-of-type {
    display: none;
}

/* submit btn */
#submit {
    background-color: #fffaf0;
}

#submit:disabled {
    background-color: #e7e7e7;
}

footer {
    text-align: center;
    margin-top:20px;
}

#home-btn {
    font-size: 16px;
    width: 25%;
    background-color: #f6f6f6;
}

/* media breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #home-btn {
        width:40%;
    }
}
