.invalid {
    background-color: #fff6a9;
}

.radiowrapper {
    font-size: 30px;
}

.radiowrapper input {
    visibility:hidden; 
    width:0;
}

.radiowrapper label:hover {
    font-weight:bold;
}

.radiowrapper input:checked + label {
    font-weight:bold; 
}

.question {
    font-weight: bold;
}
/* filter reduces emoji colours */
.emoji {
    filter: grayscale(70%);
}
/* on hover remove filter */
.emoji:hover {
    filter: grayscale(0%);
}
/* when emoji is selected remove filter */
.selected {
    filter: none;
}

/* submit btn */
#submit {
    background-color: #fffaf0;
}

#submit:disabled {
    background-color: #e7e7e7;
}

footer {
    text-align: center;
    margin-top:20px;
}

#home-btn {
    font-size: 16px;
    width: 25%;
    background-color: #f6f6f6;
}

/* media breakpoints */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    form {
        display:flex;
    }
    
    textarea {
        width:100%;
    }

    #submit {
        padding: 4px;
    }

    #home-btn {
        width:40%;
    }
}
