.invalid {
    background-color: #fff6a9;
}

.radiowrapper {
    font-size: 30px;
}

.radiowrapper input {
    visibility:hidden; 
    width:0;
}

.radiowrapper label:hover {
    font-weight:bold;
}

.radiowrapper input:checked + label {
    font-weight:bold; 
}

.question {
    font-weight: bold;
}
/* filter reduces emoji colours */
.emoji {
    filter: grayscale(70%);
}
/* on hover remove filter */
.emoji:hover {
    filter: grayscale(0%);
}

.selected {
    filter: none;
}