.invalid {
    background-color: #fff6a9;
}

.checkbox {
    margin-bottom: 15px;
}

.warning-pass {
    color: #309f35;
}

.warning-invalid {
    color: #ff0000;
}
/* remove gaps between p elements */
p {
    margin-bottom: -10px;
}